<a href="#" class="mobile-menu-button">MENU</a>
<nav id="main-menu" role="navigation" class="menu--main">
  <ul class="menu">
    <li class=""><%= link_to 'Home', root_path %></li>
    <li class="expanded"><a href="#">RDF Files</a>
      <ul class="menu">
        <li class=""><%= link_to 'Archive Description', priarch_path(format: 'rdf') %></li>
        <li class=""><%= link_to 'Series Listings', priseri_path(format: 'rdf') %></li>
      </ul>
    </li>
    <li class="">
      <% unless user_signed_in? %>
        <%= link_to 'Login', new_user_session_path(provider: 'cas') %>
      <% else %>
        <%= link_to 'Logout', destroy_user_session_path %></li>
      <% end %>
  </ul>
</nav>
