<div id="notice"><%= notice %></div>

<h1>Listing Papers</h1>

<%= link_to 'Add New Paper', new_paper_path, { class: 'button pul-icon-add pull-right'} %>

<table class="tablesorter">
  <thead>
    <tr>
      <th>Title</th>
      <th>Creationdate</th>
      <th>Sectionurlid</th>
      <th>Papernumber</th>
      <th>Filefunction</th>
      <th>Jel</th>
      <th>Keywords</th>
      <th>Suppress</th>
      <th colspan="3" class="filter-false"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td id="title"><%= paper.title %></td>
        <td><%= paper.creationdate %></td>
        <td><%= paper.sectionurlid %></td>
        <td class="wordbreak"><%= paper.papernumber %></td>
        <td><%= paper.filefunction %></td>
        <td><%= paper.jel %></td>
        <td><%= paper.keywords %></td>
        <td><%= paper.suppress %></td>
        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
