<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author1first</th>
      <th>Author1mid</th>
      <th>Author1last</th>
      <th>Author1workplace</th>
      <th>Author2first</th>
      <th>Author2mid</th>
      <th>Author2last</th>
      <th>Author2workplace</th>
      <th>Author3first</th>
      <th>Author3mid</th>
      <th>Author3last</th>
      <th>Author3workplace</th>
      <th>Author4first</th>
      <th>Author4mid</th>
      <th>Author4last</th>
      <th>Author4workplace</th>
      <th>Author5first</th>
      <th>Author5mid</th>
      <th>Author5last</th>
      <th>Author5workplace</th>
      <th>Abstract</th>
      <th>Creationdate</th>
      <th>Sectionurlid</th>
      <th>Papernumber</th>
      <th>Filefunction</th>
      <th>Jel</th>
      <th>Keywords</th>
      <th>Suppress</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.title %></td>
        <td><%= paper.author1first %></td>
        <td><%= paper.author1mid %></td>
        <td><%= paper.author1last %></td>
        <td><%= paper.author1workplace %></td>
        <td><%= paper.author2first %></td>
        <td><%= paper.author2mid %></td>
        <td><%= paper.author2last %></td>
        <td><%= paper.author2workplace %></td>
        <td><%= paper.author3first %></td>
        <td><%= paper.author3mid %></td>
        <td><%= paper.author3last %></td>
        <td><%= paper.author3workplace %></td>
        <td><%= paper.author4first %></td>
        <td><%= paper.author4mid %></td>
        <td><%= paper.author4last %></td>
        <td><%= paper.author4workplace %></td>
        <td><%= paper.author5first %></td>
        <td><%= paper.author5mid %></td>
        <td><%= paper.author5last %></td>
        <td><%= paper.author5workplace %></td>
        <td><%= paper.abstract %></td>
        <td><%= paper.creationdate %></td>
        <td><%= paper.sectionurlid %></td>
        <td><%= paper.papernumber %></td>
        <td><%= paper.filefunction %></td>
        <td><%= paper.jel %></td>
        <td><%= paper.keywords %></td>
        <td><%= paper.suppress %></td>
        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
