<div id="notice"><%= notice %></div>

<% if can? :update, @paper %>
  <%= link_to 'Edit', edit_paper_path(@paper), { class: 'button pul-icon-edit'} %>
  <%= series_link @paper.series_id %>
<% end %>
<dl>
  <dt>Title</dt>
  <dd><%= @paper.title %></dd>

  <dt>Author(s)</dt>
  <% authors = format_authors(@paper) %>
  <% authors.each do |author| %>
  <dd> <%= author[:name] %> <%= author[:fname] %> <%= author[:lname] %> (<%= author[:workplace] %>) </dd>
  <% end %>

  <dt>Abstract</dt>
  <dd><%= @paper.abstract %></dd>

  <dt>Creation Date</dt>
  <dd><%= @paper.creationdate %></dd>

  <dt>Section URL ID</dt>
  <dd><%= @paper.sectionurlid %></dd>

  <dt>Paper Number</dt>
  <dd><%= @paper.papernumber %></dd>

  <dt>URL</dt>
  <dd><%= @paper.url %></dd>

  <dt>File Function</dt>
  <dd><%= @paper.filefunction %></dd>

  <dt>Jel</dt>
  <dd><%= @paper.jel %></dd>

  <dt>Keyword(s)</dt>
  <dd><%= @paper.keywords %></dd>

  <dt>Suppress</dt>
  <dd><%= @paper.suppress %></dd>

  <dt>Series</dt>
  <dd><%= @paper.series_id %></dd>
</dl>
