<div id="notice"><%= notice %></div>

<h1>Listing Archives</h1>

<% if can? :update, @archives %>
  <%= link_to 'Add New Archive', new_archive_path(script_name: script_name), { class: 'button pul-icon-add pull-right'} %>
<% end %>
<table class="tablesorter">
  <thead>
    <tr>
      <th>Handle</th>
      <th>Name</th>
      <th>Maintainer email</th>
      <th>Description</th>
      <th>Url</th>
      <th colspan="3" class="filter-false"></th>
    </tr>
  </thead>

  <tbody>
    <% @archives.each do |archive| %>
      <tr>
        <td><%= archive.handle %></td>
        <td><%= archive.name %></td>
        <td><%= archive.maintainer_email %></td>
        <td><%= archive.description %></td>
        <td><%= archive.url %></td>
        <td><%= link_to 'RDF', "#{archives_path(archive, script_name: script_name)}.rdf" %></td>
        <td><%= link_to 'Show', archives_path(archive, script_name: script_name) %></td>
        <% if can? :update, archive %>
          <td><%= link_to 'Edit', edit_archive_path(archive, script_name: script_name) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
