<p id="notice"><%= notice %></p>

<p>
  <strong>Handle:</strong>
  <%= @archive.handle %>
</p>

<p>
  <strong>Name:</strong>
  <%= @archive.name %>
</p>

<p>
  <strong>Maintainer email:</strong>
  <%= @archive.maintainer_email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @archive.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @archive.url %>
</p>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>
