<div id="notice"><%= notice %></div>

<dl>
   <dt>Handle</dt>
   <dd><%= @archive.handle %></dd>

   <dt>Name</dt>
   <dd><%= @archive.name %></dd>

   <dt>Maintainer Email</dt>
   <dd><%= @archive.maintainer_email %></dd>

   <dt>Description</dt>
   <dd><%= @archive.description %></dd>

   <dt>URL</dt>
   <dd><%= @archive.url %></dd>
 </dl>

<%= link_to 'Edit', edit_archive_path(@archive) %> |
<%= link_to 'Back', archives_path %>

