<%= simple_form_for(@series) do |f| %>
  <%= f.error_notification %>

  <div class="form-group">
    <%= f.input :name, placeholder: 'Name' %>
  </div>
  <div class="form-group">
    <%= f.input :provider_name, placeholder: 'Provider Name' %>
  </div>
  <div class="form-group">
    <%= f.input :provider_homepage, placeholder: 'Provider Homepage' %>
  </div>
  <div class="form-group">
    <%= f.input :provider_institution, placeholder: 'Provider Institution' %>
  </div>
  <div class="form-group">
    <%= f.input :maintainer_name, placeholder: 'Maintainer Name' %>
  </div>
  <div class="form-group">
    <%= f.input :maintainer_email, placeholder: 'Maintainer Email' %>
  </div>
  <div class="form-group">
    <%= f.input :series_type, placeholder: 'Series Type' %>
  </div>
  <div class="form-group">
    <%= f.input :handle, placeholder: 'Handle' %>
  </div>
  <div class="form-group">
    <%= f.input :sectionurlid, placeholder: 'Section URL ID' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
