<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @series.name %>
</p>

<p>
  <strong>Sectionid:</strong>
  <%= @series.handle %>
</p>

<p>
  <strong>Sectionpath:</strong>
  <%= @series.sectionurlid %>
</p>


<h2>  <%= @series.papers.size %> Attached Papers</h2>
<table>
  <thead>
      <tr>
        <th>Title</th>
        <th>Creationdate</th>
        <th>Sectionurlid</th>
        <th>Papernumber</th>
        <th>Filefunction</th>
        <th>Jel</th>
        <th>Keywords</th>
        <th>Suppress</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @series.papers.each do |paper| %>
        <tr>
          <td><%= paper.title %></td>
          <td><%= paper.creationdate %></td>
          <td><%= paper.sectionurlid %></td>
          <td><%= paper.papernumber %></td>
          <td><%= paper.filefunction %></td>
          <td><%= paper.jel %></td>
          <td><%= paper.keywords %></td>
          <td><%= paper.suppress %></td>
          <td><%= link_to 'Show', paper %></td>
          <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
          <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= link_to 'Edit', edit_series_path(@series) %> |
<%= link_to 'Back', series_index_path %>
