<div id="notice"><%= notice %></div>

<dl>
  <dt>Title</dt>
  <dd><%= @series.name %></dd>

  <dt>Provider Institution</dt>
  <dd><%= @series.provider_institution %></dd>

  <dt>Provider Homepage</dt>
  <dd><%= link_to @series.provider_homepage %></dd>

  <dt>Section ID</dt>
  <dd><%= @series.handle %></dd>

  <dt>Princeton Handle</dt>
  <dd><%= @series.pri_handle %></dd>

  <dt>Section Path</dt>
  <dd><%= @series.sectionurlid %></dd>
</dl>

<h2><%= @series.papers.size %> Attached Papers</h2>
<% if can? :update, @series %>
  <%= link_to 'Add New Paper', new_paper_path, { class: 'button pul-icon-add pull-right'} %>
<% end %>
<table class="tablesorter">
  <thead>
      <tr>
        <th>Title</th>
        <th>Creationdate</th>
        <th>Filefunction</th>
        <th>Jel</th>
        <th>Keywords</th>
        <th>Suppress</th>
        <th colspan="3" class="filter-false"></th>
      </tr>
    </thead>

    <tbody>
      <% @series.papers.each do |paper| %>
        <tr>
          <td><%= paper.title %></td>
          <td><%= paper.creationdate %></td>
          <td class="wordbreak"><%= link_to(paper.papernumber, paper.url) %></td>
          <td><%= paper.jel %></td>
          <td><%= paper.keywords %></td>
          <td><%= paper.suppress %></td>
          <td><%= link_to 'View', paper %></td>
          <% if can? :update, @series %>
            <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
</table>
<%= link_to 'Edit Series', edit_series_path(@series) %>
<%= link_to 'Back to Home', series_index_path %>
